.container{
  /* background-color: bisque; */
  padding: 40px 60px 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.header{
  width: 100%;
}
.form{
  margin: auto;
  width: 100%;
}
